.container {
    display: grid;
    padding: 28px 100px;
    background-color: #F1F3FF;
}

.logout-button {
    justify-self: end;
    transition: opacity 0.8s;
}

.logout-button:hover {
    opacity: 0.7;
}

.logout-button:active {
    opacity: 0.9;
}

@media only screen and (max-device-width: 768px) {
    .container {
        padding: 16px 28px;
    }
}